:root {
  --accent-color: #dcebf4;
  --bold-color: #0f261f;
  --muted-color: #526067;
}

body {
  font-family: "Mulish", sans-serif;
  background: #fff;
  color: var(--muted-color);
}

h1 {
  font-family: "Poiret One", sans-serif;
}

h2 {
  font-size: 24px;
}

footer {
  font-size: 14px;
  text-align: center;
  color: var(--muted-color);
  padding: 20px;
}

footer a {
  color: var(--bold-color);
}

footer a:visited {
  color: var(--muted-color);
}

.navbar {
  background: var(--accent-color);
}

.navbar .logo {
  max-width: 150px;
}

.navbar-toggler {
  color: var(--muted-color);
}

.navbar-toggler-icon i {
  font-size: 32px;
}

.navbar-collapse {
  text-align: right;
}

.navbar .dropdown-menu {
  background: var(--accent-color);
  border: none;
  text-align: right;
  position: relative;
  left: -60px;
}

.navbar-nav {
  display: flex;
  margin-right: 0;
  margin-left: auto;
}

.navbar a {
  color: var(--muted-color);
  text-decoration: none;
}

.navbar .active {
  font-weight: 500;
  color: var(--bold-color);
}

.homepage-hero {
  color: var(--bold-color);
  margin: 115px auto 35px;
  max-width: 750px;
  padding: 45px 25px;
  text-align: center;
}

.homepage-hero h1 {
  font-size: 72px;
}

.hero {
  color: var(--bold-color);
  margin: 115px auto 35px;
}

.hero h1 {
  font-size: 64px;
}

.contact-link {
  text-align: center;
  width: 180px;
  margin: 0 auto;
}

.contact-link a {
  border: 1px solid var(--muted-color);
  padding: 14px 42px;
  background: #fff;
  text-decoration: none;
  color: var(--muted-color);
}

.contact-link a:hover {
  color: #fff;
  background: var(--muted-color);
}

.portfolio-sneak-peek {
  display: flex;
  justify-content: space-between;
  margin: 0 35px;
  padding: 73px;
  padding-top: 105px;
}

.portfolio-sneak-peek img {
  max-width: 350px;
}

.professional-links {
  max-width: 100px;
}

.professional-links .resume {
  width: 62px;
}

.professional-links .linkedin {
  width: 84px;
}

.caption {
  font-size: 14px;
  text-align: center;
}

.about {
  background: var(--accent-color);
  padding: 73px;
}

.portrait {
  max-width: 350px;
}

.about-text {
  background: #fff;
  padding: 40px;
}
